
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

/* Colors */
/* GREYS (Dark to Light): #626C77, #C2C6CC, #E6E9EE, #EDF0F4, #F3F7FA, #FFFFFF*/
/* Primary: Darkest Blue #01073C, Navy #00205B, Blue #304FFE, Brown #9A7611 */
/* Secondary: Blue (darker than primary blue) #1930B2, Yellow #FFBF3F, Red #BF0D3E */

html {
    font-family: 'Nunito Sans', sans-serif !important;
}

body {
    background-color: #F3F7FA;
}

.next > button {
    height: 56px;
    border-top-right-radius: 32px !important;
    border-bottom-right-radius: 32px !important;
    border-top-left-radius: 32px !important;
    border-bottom-left-radius: 32px !important;
    padding-left: 32px;
    padding-right: 32px;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    background-color: #304FFE !important;
    color: white !important;
}

    .next > button:hover {
        background-color: #1930B2 !important;
        color: #C2C6CC !important;
    }

#cancelPayment {
    height: 56px;
    border-top-right-radius: 32px !important;
    border-bottom-right-radius: 32px !important;
    border-top-left-radius: 32px !important;
    border-bottom-left-radius: 32px !important;
    padding-left: 32px;
    padding-right: 32px;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    background-color: white !important;
    color: #304FFE !important;
    border: solid 1px #304FFE !important;
}

    #cancelPayment:hover {
        background-color: #C2C6CC !important;
        color: #1930B2 !important;
        border: solid 1px #1930B2 !important;
    }

.navbar {
    background-color: #00205B !important;
}

h3 {
    color: #9A7611 !important;
}

#transactionSummary {

}

#helpContent {

}

.controls > select,  {

}

.title {

}

/* Font Ratios */
/* Large screens */
@media (min-width: 1200px) {
    h1 {
        font-size: 56px;
        line-height: 60px;
        text-align: center;
    }

    h2 {
        font-size: 48px;
        line-height: 56px;
    }

    h3 {
        font-size: 40px;
        line-height: 50px;
    }

    h4 {
        font-size: 32px;
        line-height: 40px;
    }

    h5 {
        font-size: 22px;
        line-height: 32px;
    }
}

/* Small screens */
@media (max-width: 1200px) {
    h1 {
        font-size: 40px;
        line-height: 44px;
        text-align: center;
    }

    h2 {
        font-size: 36px;
        line-height: 42px;
    }

    h3 {
        font-size: 32px;
        line-height: 40px;
    }

    h4 {
        font-size: 24px;
        line-height: 32px;
    }

    h5 {
        font-size: 20px;
        line-height: 30px;
    }
}
