body {
	font-family: Verdana, sans-serif; /* font type */
	color: rgb(35,31,32); /* font color */
}

h1 {
	border-bottom: 1px solid rgb(242,217,115); /* line under main headings */
	font-weight: bold; /*font weight of main headings */
}

h2 {
	border-bottom: 1px solid rgb(242,217,115); /* line under second headings */
	font-weight: bold; /* font weight of second headings */
}

#container {
	border-top: 5px solid rgb(242,217,115); /* thick top border size and color */
	border-bottom: 5px solid rgb(242,217,115); /* thick bottom border size and color */
}

#main {
	border: 1px solid rgb(242,217,115); /* border color */
}

table {
	border: 1px solid rgb(242,217,115); /*border size and color on tables */
}

thead {
	background: rgb(242,217,115); /*background color on table headers */
}

th {
	font-weight: bold; /* font weight on table headers */
}

td {
	border: 1px solid rgb(242,217,115); /* border size and color on table data */
	background: rgb(255,255,212);
}

td:nth-child(2) {
	text-align: right; /* text alignment on 2nd column of table data */
}

input {
	background: rgb(255,255,212); /* background color on input field */
	border: 1px solid rgb(140,140,140); /* border size and color on input field */
}

li .hint, li .errorTxt {
	color: rgb(140,140,140); /* hint text color on input field */
}

.button, a.button {
	background-color: rgb(140,140,140); /* background color on buttons */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(140,140,140)), to(rgb(89,89,89))); /*background image on buttons */
	color: rgb(255,255,255); /* text color on buttons */
	font-weight: bold; /* font weight on buttons */
}

.button:hover {
	background-color: rgb(89,89,89); /* background color on buttons upon hover */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(89,89,89)), to(rgb(55,55,55))); /* background image on buttons upon hover */
}

.button.primary {
	background-color: rgb(5,62,84); /* background color on primary buttons */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(5,62,84)), to(rgb(4,19,22))); /* background image on primary buttons */
}

.button.primary:hover {
	background-color: rgb(4,19,22); /* background color on primary buttons upon hover */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(5,52,64)), to(rgb(0,0,0)));	/* background image on primary buttons upon hover */
}

#review li:hover {
	background-color: rgb(255,255,212); /* background color on receipt page upon hover of a line item */
}

#receipt h3 {
	font-weight: bold; /* font weight of headers on receipt page */
	background: rgb(242,217,115); /* background color of headers on receipt page */
}

#receipt #payInfo {
	border-left: .1em solid rgb(242,217,115); /* left border size and color with payment info on receipt page */
}